<div class="files">
  <div class="iframe"><iframe src="<%= new_photo_url(:layout => false) %>" style="border: none; height: 100px"></iframe></div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.add').click(function() {
      $('.iframe:first').clone().appendTo('.files');
      return false;
    });
    $('.upload').click(function() {
      $('.iframe iframe').contents().find('form').submit();
      return false;
    });
  });
<% end %>

<%= link_to '+ Add a next file', nil, :class => 'add' %>

<%= link_to 'Upload files', nil, :class => 'upload' %>